<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financial-API-App</title>
</head>
    <body>
        <h1>comprehensive financial API</h1>
        <h3>using Python, Django, and Django Rest Framework (DRF).</h3>
        <h4>please use your paths in the 'urls.py' python file in your superproject folder</h4>
    </body>

    <style>
        * {
            margin-top: 20px;
            margin-bottom: -15px;
            text-align: center;
        }
        h1, h3 {
            color: #f9731a;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        h4 {
            color: #ac4c0b;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

    </style>
</html>